/**
 * @what Icon component styles
 * @why Provide flexible icon display using Design Tokens
 */

.pt-icon {
	display: inline-block;
	vertical-align: middle;

	// Size variants
	&--sm {
		width: var(--pt-space-3); // 12px
		height: var(--pt-space-3);
	}

	&--md {
		width: var(--pt-space-6); // 24px
		height: var(--pt-space-6);
	}

	&--lg {
		width: var(--pt-space-8); // 32px
		height: var(--pt-space-8);
	}
}