/**
 * @what Icon component styles
 * @why Provide flexible icon display using Design Tokens
 */

.pt-icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;

	&-image {
		width: 100%;
		height: 100%;
		object-fit: contain;

		// Invert colors for SVG icons on colored backgrounds
		filter: brightness(0) invert(1);
	}

	// Size variants
	&--sm {
		width: var(--spacing-4); // 16px
		height: var(--spacing-4);

		.pt-icon-image {
			width: var(--spacing-3); // 12px
			height: var(--spacing-3);
		}
	}

	&--md {
		width: var(--spacing-12); // 48px
		height: var(--spacing-12);

		.pt-icon-image {
			width: var(--spacing-6); // 24px
			height: var(--spacing-6);
		}
	}

	&--lg {
		width: var(--spacing-16); // 64px
		height: var(--spacing-16);

		.pt-icon-image {
			width: var(--spacing-8); // 32px
			height: var(--spacing-8);
		}
	}

	// Background variants
	&--rounded {
		border-radius: 50%;
	}

	&--with-bg {
		box-shadow: inset 0 2px 4px rgb(0 0 0 / 10%);
	}
}