/**
 * @what Icon component styles
 * @why Provide flexible icon display using Design Tokens
 */

:host {
	display: inline-block;
	line-height: 0;
}

.pt-icon {
	display: block;
	object-fit: contain;

	// Size variants
	&--sm {
		width: var(--pt-space-5); // 20px
		height: var(--pt-space-5);
	}

	&--md {
		width: var(--pt-space-8); // 32px
		height: var(--pt-space-8);
	}

	&--lg {
		width: var(--pt-space-12); // 48px
		height: var(--pt-space-12);
	}
}