/**
 * @what Icon component styles
 * @why Provide flexible icon display using Design Tokens
 *
 * @tokens Tier 3: icon.json
 */

@use 'mixins/component-base' as base;

:host {
	@include base.host-image;
}

.pt-icon {
	display: block;
	object-fit: contain;

	// Size variants
	&--sm {
		width: var(--pt-icon-size-sm);
		height: var(--pt-icon-size-sm);
	}

	&--md {
		width: var(--pt-icon-size-md);
		height: var(--pt-icon-size-md);
	}

	&--lg {
		width: var(--pt-icon-size-lg);
		height: var(--pt-icon-size-lg);
	}
}