/**
 * @what Icon component styles
 * @why Provide flexible icon display with color support using Design Tokens
 *
 * @tokens Tier 3: icon.json
 */

@use 'mixins/component-base' as base;

:host {
	@include base.host-image;
}

.pt-icon {
	display: block;
	object-fit: contain;

	// CSS mask styles (for color mode)
	mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center;
	// stylelint-disable-next-line property-no-vendor-prefix -- Safari requires -webkit prefix for mask properties
	-webkit-mask-size: contain;
	// stylelint-disable-next-line property-no-vendor-prefix
	-webkit-mask-repeat: no-repeat;
	// stylelint-disable-next-line property-no-vendor-prefix
	-webkit-mask-position: center;

	// Size variants
	&--sm {
		width: var(--pt-icon-size-sm);
		height: var(--pt-icon-size-sm);
	}

	&--md {
		width: var(--pt-icon-size-md);
		height: var(--pt-icon-size-md);
	}

	&--lg {
		width: var(--pt-icon-size-lg);
		height: var(--pt-icon-size-lg);
	}
}